.form-section {
  background-color: rgba(249, 244, 244, 1);
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 40px 20px;
  position: relative;
}

.form {
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "single ingredients description";
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: center;
  height: 100%;
  line-height: 20px;

  & .save-btn {
    grid-area: btn;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }

  & .border-right {
    border-right: 1px solid silver;
  }

  & input {
    width: 100%;
  }

  & label {
    font-size: 18px;
  }

  & li {
    list-style: none;
  }

  & h3 { padding-bottom: 22px; }

}

.form-img {
  display: flex;
  flex-direction: column;

  & .form-upload-img {
    border: none;
    margin-bottom: 20px;
  }
}
/* ======== DESCRIPTION SECTION ======= */

.form-ingredients {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-template-areas: 
    "amount measure item"
    "btn btn .";
  height: fit-content;
  grid-gap: 10px;
  margin: 0;

  & .input-wrap {
    width: 100px;
    margin: 0;
    height: 40px;
  }

  & .amount {
    grid-area: amount;
  }

  & .measure {
    grid-area: measure;
  }

  & .ingredient {
    grid-area: item;
  }

  & .add-btn {
    grid-area: span 2;
  }

  input {
    width: 70px;
  }

  & .measure input {
    &:focus,
    &:not([value=""]) {
      width: 50px;
      text-align: center;
    }
  }
}

#upload-img {
  font-size: 15px;
  height: 25px;
}

input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid silver;
  outline-color: rgb(243, 243, 243);
}

input {
  width: 100px;
}

textarea {
  display: inline-block;
  border: solid 1px #000;
  width: 100%;
  resize: none;
  min-height: 100px;
}

.description-textarea {
  min-height: 100px;
  margin: 10px 0;
}

.input-wrap {
  position: relative;
  height: 50px;
  margin-right: 10px;
}

// ==== LABELS ON FOCUS ====
.floating-label {
  position: absolute;
  top: 3px;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

.input-text,
textarea {

  &:focus ~ label,
  &:not([value=""]) ~ label {
    top: -20px;
    font-size: 13px;
  }

  &:focus {
    border-bottom: 2px solid rgb(61, 22, 61);
  }
}
