.form-section {
  background-color: white;
  opacity: 0.9;
  height: 100%;
  overflow: scroll;
}

.form {
  padding: 1.5rem;
  display: grid;
  grid-template-areas:  
    "title . . ."
    "time temp . ."
    "img img img ."
    "items items description description"
    "save . . . ";
  height: fit-content;
  grid-gap: 10px;
  align-content: start;
  font-weight: 600;
  
  & li {
		list-style: none;
  } 
}
	
.title { grid-area: title; }
.cooking-time { grid-area: time; }
.cooking-temp { grid-area: temp; }
.form-img { grid-area: img; }
.save-btn { grid-area: save; }
.form-description { grid-area: description; }
.form-ingredients { 
  grid-area: items;
  display: grid;
  grid-template-areas: 
    "amount measure ingredient"
    "btn btn ."; 
  height: fit-content;
}

#upload-img { font-size: 15px;}

input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid silver;
  outline-color: rgb(243, 243, 243);
}

.input-wrap {
  position: relative;
  height: 50px;
}

.floating-label {
  position: absolute;
  top: 3px;
  left: 0;
  pointer-events: none;
  transition:  0.2s ease-in-out;
}

.input-text,
textarea {
  &:focus ~ label,
  &:not([value=""]) ~ label {
    top: -12px;
    font-size: 13px;
  }

  &:focus {
    border-bottom: 2px solid rgb(61, 22, 61);
  }
}

