.Button {
  padding: 0.3rem 0.5rem;
  vertical-align: middle;
  font-size: 0.7rem;
  background: transparent;
  border: 0.05rem solid $border-color;
  color: $border-input;
  font-weight: 400;
  border-radius: 3rem;
  cursor: pointer;
}

.add-btn {
  width: 7rem;
}

.save-btn {
  width: 4rem;
}
