.Button {
  padding: 5px 10px;
  vertical-align: middle;
  font-size: 20px;
  width: auto;
  background: transparent;
  border: 1px solid $border-color;
  color: $border-input;
  font-weight: 400;
  border-radius: 50px;
  cursor: pointer;
}

.add-btn {
  width: 160px;
}

.save-btn {
  width: 151px;
}
