.nav {
	@include position(absolute, 50px, 50px, null, null);
	z-index: 3;
	opacity: 1;
	display: flex;
	font-weight: 900;

	& a {
		text-decoration: none;
		padding: 0.5rem;
		color: $border-color;
		font-size: 0.8rem;
		// font-family: 'Montez', cursive;	
	}
}
