.nav {
	@include position(absolute, 50px, 50px, null, null);
	z-index: 3;
	opacity: 1;
	display: flex;
	font-weight: 900;

	& a {
		text-decoration: none;
		padding: 0.5rem;
		color: rgb(58, 57, 57);
		font-size: 0.8rem;
		// font-family: 'Montez', cursive;	
	}
	.activeLink {
	// color: rgb(0, 0, 0);
		color:red;
	}
}
