// Here comes all variables
$bg-color: rgb(27, 27, 27);
$bg-color-lighter: rgb(41, 41, 41);
$border-color: rgb(212, 96, 8);
$border-input: #d6d6d6;
$error: rgb(194, 2, 2);
$title-color: rgb(238, 238, 238);